body {
    background: linear-gradient(to bottom right, black, #1d1e30);
}

header nav a.nav-link {
    color: #ddd;
}

#edit, #write, #upload-button {
 display: none;
}

#iactions button {
    border-radius: 50%; 
    width: 32px; 
    height: 32px;
}

#previewer {
    min-height: 400px;
}

#multiple-dimensions #options-container{
    display: none;
}