body {
    background: linear-gradient(to bottom right, black, #1d1e30);
}

header nav a.nav-link {
    color: #ddd;
}

#edit, #write, #upload-button {
 display: none;
}

/*
#iactions button {
    border-radius: 50%; 
    width: 32px; 
    height: 32px;
}
*/

#previewer, #resized {
    min-height: 400px;
}

.resize-options {
    display: none;
}

#s-player, #s-transform {
    display: none;
}

#tools-article section {
}

.hoverin {
    background: rgba(0,0,0, .5);
}

.selected {
    background: rgba(0,150,0, .5);
}